body {
  padding: 25px;
}
.header {
  text-align: center;
  margin-bottom: 50px;
}
.introduce {
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}
.scenario {
  margin-top: 10px;
  width: 350px;
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.button-load-model {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.inputfile {
  display: none;
}
.table-header {
  text-align: center;
}
.circularprogress {
  margin-left: 30px;
}
.textField {
  margin-top: 15px;
  margin-right: 30px;
}
.result {
  margin-top: 25px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chart {
  margin-bottom: 30px;
}
.chartContainer h2{
  text-align: center;
}
.fragmentInf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container1{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container1 h2{
  text-align: center;
}