body {
  padding: 25px;
}
.header {
  text-align: center;
}
.introduce {
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}
.scenario {
  margin-top: 10px;
  width: 350px;
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.button-load-model {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.inputfile {
  display: none;
}
.table-header {
  text-align: center;
}
.circularprogress {
  margin-left: 30px;
}
.textField {
  margin-top: 15px;
  margin-right: 30px;
}
.result {
  margin-top: 20px;
}